header
  background-color #ffffff
  height 77px
  padding 0 27px 0 40px
  box-shadow 0px 1px 5px 1px rgba(199,197,199,0.5)
  
  .container
    display flex;
    align-items center
    justify-content space-between
    height 77px
    
    .logo-container
      display inline-block
      
      img
        width 145px
        height 20px
    
    .options-container
      display flex
      
      a
        display inherit
      
      .bell 
        margin 16px
      
      
      