.login-header
  box-shadow 0 0 0 0
  padding 0 53px 0 62px
    
  & .container
    border-bottom 1px solid #e5e5e5
    padding-left 10px
    
.login-container
  display flex
  width 100%
  justify-content center
  flex-direction column
  position relative
  padding-top 74px
    
  .login-content
    text-align center
    min-height 310px
    font-size .83em
    
    .login-fields
      width 100%
      margin-top 56px 
      margin-bottom 20px
      display flex
      justify-content center
      align-items center
      flex-direction column
      
      input
        display block
        box-sizing border-box
        width 365px
        height 40px
        border 1px solid #dedede
        margin-bottom 20px
        font-size .94em
        padding 11px 11px
        color #9b9b9b
        border-radius 2px
        
        &:last-child
          margin-bottom 0
      
    .forgot-password
      text-decoration underline
      font-size .685em
      width 365px
      text-align right
      color #9b9b9b
      margin-bottom 51px