@font-face
  font-family 'OpenSans'
  src url('./src/assets/fonts/OpenSans-Regular.ttf');
  font-weight normal
  font-style normal

@font-face
  font-family 'OpenSans-Light'
  src url('./src/assets/fonts/OpenSans-Light.ttf');
  font-weight normal
  font-style normal

@font-face
  font-family 'OpenSans-Bold'
  src url('./src/assets/OpenSans-Bold.ttf')
  font-weight normal
  font-style normal
  
  
.kerma-fonts-opensans
  font-family 'OpenSans'
  
.kerma-fonts-opensans-light
  font-family 'OpenSans-Light'
  
.kerma-fonts-opensans-bold
  font-family 'OpenSans-Bold'
  